*{
    margin: 0;
    padding: 0;
}
.form-container{
    width: 400px;
    height: 300px;
    border: solid black 1px;
    border-radius: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #0E1230;
    color: white;
    font-family: 'Poppins', sans-serif;
    
    
}
.input{
    background:transparent;
    border: none;
    padding: 5px;
    margin-top: 10px;
    width: 90%;
    font-size: larger;
    border-bottom: solid #6bE9fb 2px;
    color: white;
}
.input:focus{
    outline:none;
}
label{
    display: block;
    font-size: smaller;
    color: #c08570;
}
a{
   
    border:solid white 1px;
    border-radius:5px;
    text-decoration: none;
    color:white;
    padding: 10px;
    position: absolute;
    bottom: 15px;
    left: 150px;
    transition: 0.3s;


}
a:hover{
    background-color: white;
    color: black;
}